/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}
.fondo{
    -fx-background-color: #89D8FF  ;
}

.recuadro{
    -fx-background-color: #F6F6F6 ;
    -fx-border-radius:25px;
    -fx-border-color:#808385;
    -fx-background-radius:25px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.5, 0, 0);
    -fx-alignment:top-center;
}

.texto_login{
    -fx-font-size:15px;
    -fx-font-family:"Century";
    -fx-font-weight: bold;
    -fx-border-color:transparent;
    -fx-background-radius:0px;
    -fx-background-color: transparent;
    -fx-border-radius:0px;
}

.boton_sinEstilo{
    -fx-border-color:transparent;
    -fx-background-radius:0px;
    -fx-background-color: transparent;
    -fx-border-radius:0px;
    -fx-font-size:15px;
    -fx-font-family:"Century";
    -fx-pref-width: 135px;
    -fx-pref-height: 19px;
    -fx-text-fill:blue;
    -fx-underline:true;
}

.text-field{
    -fx-border-color:gray;
}
.text-field:focused{
    -fx-border-color:#89D8FF;
}
.boton_fondoAzul{
    -fx-background-color:#5FC8FC;
    -fx-text-fill:white;
    -fx-font-family:"Arial Black";
    -fx-font-size:14px;
    -fx-text-effect: dropshadow(one-pass-box, red, 5, 0.0, 0, 0);  
}

.boton_fondoAzul:hover, .botones_configuracion:hover, .boton_sinEstilo:hover{
    -fx-cursor:hand;
}

.mensaje_bienvenido{
    -fx-font-size:20px;
    -fx-font-family:"Comic Sans MS";
    -fx-text-fill: black;
    -fx-alignment:TOP_LEFT;
}

.botones_configuracion{
    -fx-border-color:black;
    -fx-alignment:center-left;
    -fx-background-radius:0px;
    -fx-background-color: transparent;
    -fx-border-radius:0px;
    -fx-border-width:2px 0 0 0;
    -fx-font-size:15px;
    -fx-font-family:"Century";
    -fx-pref-width: 194px;
    -fx-pref-height: 19px;
}

.botones_configuracion:hover{
    -fx-background-color: white;
}

.fondo_configuracion{
    -fx-border-color: black;
    -fx-border-width:0 0 2px 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 2);
    -fx-background-color:#88D5FC;
}

.texto_principal{
    -fx-font-size:15px;
    -fx-font-family:"Courier New";
    -fx-font-weight: bold;
    -fx-border-color:transparent;
    -fx-background-radius:0px;
    -fx-background-color: transparent;
    -fx-border-radius:0px;
}

.comboBox_filtros{
    -fx-border-color:#5FC8FC;
    -fx-background-radius:25px;
    -fx-border-radius:25px;
    -fx-background-color:white;
    -fx-font-size:13px;
    -fx-font-family:"Century";
    -fx-pref-width: 115px;
    -fx-pref-height: 19px;
}

.caja_imagen{
    -fx-border-color:#808385;
    -fx-border-radius:50px;
    -fx-background-color:white;
    -fx-background-radius:25px;
    -fx-font-family:"Arial";
}

.text-atributos{
    -fx-font-family:"Trebuchet MS";
    -fx-effect: dropshadow(three-pass-box, #FFD890, 2   , 1, 1, 1);
    -fx-text-fill:#1683FF;
    -fx-font-weight: bold;
    -fx-font-size:16px;
}